h1{margin: 40px;
	font-family: arial;
	font-size: 50px;
	color: #ACCEE1;
	}
p{margin: 40px;
	font-family: verdana;
	font-size: 25px;
	color: black;
	}
span {color: #ACCEE1
	}
body{
	background-color: #F7F1E2;
}
#img1 {border-radius: 30px;
     box-shadow: 10px 10px 50px #8888;
}
#subtitulos {margin: 40px;
	font-family: arial;
	font-size: 45px;
	color: #ACCEE1;
}
ul{margin: 40px;
	font-family: verdana;
	font-size: 25px;
	color: black}
li{list-style: #ACCEE1}